<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #001E2B;
            color: #f9fbfa;
            font-family: Euclid Circular A,Akzidenz,Helvetica Neue,Helvetica,Arial,sans-serif;
        }
        .list-group-item {
            background-color: #2B0D00;
        }
    </style>

    <title>Demo App</title>
</head>
<body>
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1 class="display-4">MongoDB + Flask + Azure App Services Demo</h1>
            <p class="lead">This tutorial will show you how to create a functional Flask application that connects to a MongoDB Atlas database, and implements CRUD (Create, Read, Update, and Delete) functionality:</p>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Create a database in MongoDB Atlas</li>
                    <li class="list-group-item">Set up and understand how to use Flask</li>
                    <li class="list-group-item">Use your database as your apps backend</li>
                    <li class="list-group-item">Create a CRUD app using Flask, Python, and Postman</li>
                    <li class="list-group-item">Host your complete Flask app on Azure</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
